.container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 1px dashed var(--items-color);
}

@media (min-width: 480px) {
  .container {
    aspect-ratio: 4 / 3;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid var(--accent-9);
  border-radius: var(--border-radius);
}

.placeholder {
  width: 100%;
  height: 100%;
  background-color: var(--base-color);
  border: 2px dashed var(--accent-9);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-11);
}

.fileInput {
  display: none;
}

.button {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 48px;
  height: 48px;
  background: var(--items-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--shadow-md);
  transition: all var(--transition-normal);
  color: white;

  &:hover,
  &:active {
    opacity: 0.8;
    transform: scale(1.05);
  }
}
