.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #161616;
}

@supports (min-height: 100dvh) {
  .layout {
    min-height: 100dvh;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #34495e;
  padding: 1rem;
  color: #fff;
}

.logo {
  font-size: 1.25rem;
  font-weight: 600;
}

.main {
  flex: 1;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: calc(9rem + env(safe-area-inset-bottom));
}
