.info {
  color: var(--complimentary-color);
}

.quickStatsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.75rem;
}

.tabTrigger {
  background: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--text-color);
}

.tabTrigger[data-state="active"] {
  color: var(--complimentary-color);
}

.tabContent {
  padding-top: 0.5rem;
}

.tabDescription {
  margin-bottom: 1rem;
  text-align: center;
}

.emptySection {
  background-color: var(--accent-9);
  padding: 2rem;
  text-align: center;
  border-radius: var(--border-radius);
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.compactGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
}

.accordionTrigger {
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid var(--accent-a11);
  color: var(--accent-a11);
}

.accordionContent {
  padding: 8px;
}

.accordionTrigger[data-state="open"] > .chevron {
  transform: rotate(180deg);
}

@media (min-width: 640px) {
  .itemGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .compactGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .itemGrid {
    grid-template-columns: repeat(4, 1fr);
  }

  .compactGrid {
    grid-template-columns: repeat(6, 1fr);
  }
}
