.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: var(--small-border-radius);
  padding: 0.5rem;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:hover:not(:disabled), .button:active:not(:disabled) {
  opacity: 0.8;
}

.primary {
  background-color: var(--items-color);
}

.destructive {
  background-color: var(--destructive-color);
}