.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.15s ease;
  border: none;
  background-color: transparent;
  color: var(--text-color);
}

.iconButton:hover {
  background-color: var(--accent-action-color);
}

.iconButton:active {
  transform: scale(0.95);
}

.size1 {
  padding: 0.25rem;
}

.size2 {
  padding: 0.375rem;
}

.size3 {
  padding: 0.5rem;
}

.size4 {
  padding: 0.75rem;
}
