.accordionTrigger {
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid var(--accent-a11);
  color: var(--accent-a11);
}

.accordionContent {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selectionMode {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.chevron {
  transition: transform 0.2s ease;
}

.accordionTrigger[data-state="open"] .chevron {
  transform: rotate(180deg);
}

.selectableItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 4px;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--accent-a3);
  border: 1px solid transparent;
  position: relative;
}

.selectableItem:hover:not(.disabled) {
  background-color: var(--text-color);
  color: var(--accent-a3);
}

.selectableItem.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.checkIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: var(--text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-action-color);

  & svg {
    width: 20px;
    height: 20px;
  }
}

.itemImage {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}
