.accordionTrigger {
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid var(--accent-a11);
  color: var(--accent-a11);
}

.accordionContent {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.accordionTrigger[data-state="open"] > .chevron {
  transform: rotate(180deg);
}
