.card {
  background: var(--accent-a3);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image {
  width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: var(--border-radius);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
}
